*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.Section-1{
    height: 100vh;
    background-image: url(/images/cubbon\ park.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    opacity: 0.70;
}
.text{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
}
.text .bor{
    background-color: rgba(18, 18, 18, 0.778);
    color: white;
    width: 30%;
    margin: 0 auto;
    padding: 20px;
    font-weight: 700;
}
.Section-2{
    text-align: center;
    padding: 50px;
    font-style: oblique;
}
.Section-3{
    height: 100vh;
    background-image: url(/images/vidhan_soudha.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    opacity: 0.70;
    
}
.text1{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
}
.text1 .bor1{
    background-color: rgba(241, 237, 235, 0.778);
    color: rgb(20, 20, 20);
    width: 30%;
    margin: 0 auto;
    padding: 20px;
    font-weight: 700;
}
.Section-4{
    text-align: center;
    padding: 50px;
    font-style: oblique;
}
.Section-5{
    height: 100vh;
    background-image: url(/images/Nandi-Hills.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    opacity: 0.70;

}
.text2{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
}
.text2 .bor2{
    background-color: rgba(52, 27, 14, 0.778);
    color: white;
    width: 30%;
    margin: 0 auto;
    padding: 20px;
    font-weight: 700;
}
.Section-6{
    text-align: center;
    padding: 50px;
    font-style: oblique;
}
.Section-7{
    height: 100vh;
    background-image: url(/images/bangalore\ traffic.webp);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    opacity: 0.70;
}
.text3{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
}
.text3 .bor3{
    background-color: rgba(14, 13, 13, 0.778);
    color: white;
    width: 30%;
    margin: 0 auto;
    padding: 20px;
    font-weight: 700;
}
.Section-8{
    text-align: center;
    padding: 50px;
    font-style: oblique;
}
.Section-9{
    height: 100vh;
    background-image: url(/images/food.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    opacity: 0.70;
    
}
.text4{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
}
.text4 .bor4{
    background-color: rgba(241, 237, 235, 0.778);
    color: #000;
    width: 30%;
    margin: 0 auto;
    padding: 20px;
    font-weight: 700;
}
.Section-10{
    text-align: center;
    padding: 50px;
    font-style: oblique;
}
.Section-11{
    height: 100vh;
    background-image: url(/images/city.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    opacity: 0.70;
    
}
.text5{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
}
.text5 .bor5{
    background-color: rgba(241, 237, 235, 0.778);
    color: #000;
    width: 30%;
    margin: 0 auto;
    padding: 20px;
    font-weight: 700;
}